<!doctype html>
%html#ng-app(ng-app='spatz')
  %head
    %meta{:charset=>"utf-8"}
      %meta{:content => "IE=edge,chrome=1", "http-equiv" => "X-UA-Compatible"}
        %title= @page_title || "spatz"
        = javascript_include_tag  "all"
        = include_gon
  %body
    #bg
    #decoration
    #schedule
    #tasks
    #todos
    =yield
    